pipeline/de-data-ingestion_copy2.json
{
	"name": "de-data-ingestion_copy2",
	"properties": {
		"description": "de-data-ingestion",
		"activities": [
			{
				"name": "testcopy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQLServerTableGeneric",
						"type": "DatasetReference",
						"parameters": {
							"SQLSchemaName": "hos_a",
							"SQLTableName": "departments"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "GenricCSVFOrmat",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"filepath": "temp/"
						}
					}
				]
			},
			{
				"name": "test",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "testcopy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tempvar",
					"value": {
						"value": "@string(activity('testcopy data').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"testvar": {
				"type": "String"
			},
			"tempvar": {
				"type": "String"
			}
		},
		"annotations": []
	}
}