pipeline/de-data-ingestion.json
{
	"name": "de-data-ingestion",
	"properties": {
		"description": "de-data-ingestion",
		"activities": [
			{
				"name": "Read Ingestion Sheet",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "readcsv",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Itarate Through Entity For Ingestion",
				"description": "Itarate Through Entity For Ingestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read Ingestion Sheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read Ingestion Sheet').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IsFullLoad",
							"description": "Check Load Type",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item().loadtype), 'full')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Load Full data to Lake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.01:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SQLServerTableGeneric",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "GenricParquetFile",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"IngestionSheetContainer": {
				"type": "string"
			},
			"IngestionSheetPath": {
				"type": "string"
			},
			"IngestionType": {
				"type": "string"
			},
			"IngestionDate": {
				"type": "string"
			}
		},
		"variables": {
			"testvar": {
				"type": "String"
			}
		},
		"annotations": []
	}
}